*{
    font-family: 'Roboto';
}

.msg-warning{
    background-color: orange;
    color: white;
    margin-bottom: 0px;
    border: 1px orangered;
    padding: 10px;
    text-align: center;
}
.msg-success{
    background-color: green;
    color: white;
    margin-bottom: 0px;
    border: 1px chartreuse;
    padding: 10px;
    text-align: center;
}
.msg-danger{
    background-color: red;
    color: white;
    margin-bottom: 0px;
    border: 1px black;
    padding: 10px;
    text-align: center;
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: transparent;
    color: #fff;
    flex-shrink: 0;
}

.sidebar a {
    color: #adb5bd;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.sidebar a:hover {
    background-color: #495057;
    color: #fff;
}
